<!-- <router-outlet></router-outlet> -->
<div class="login-card d-flex align-items-center justify-content-center">
  <mat-card *ngIf = "!signInStatus">
    <mat-card-header class="justify-content-center">
      <mat-card-title>Welcome</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #signInForm = "ngForm" (submit) = "signInUser(signInForm)">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                name = "username"
                type = "text"
                matInput
                [(ngModel)] = "username"
                placeholder="Username"
                required
                readonly
              />
              <mat-icon matSuffix>person</mat-icon>
              <mat-error>
                Please enter user name
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="w-100" appearance="outline" >
              <mat-label>Password</mat-label>
              <input
                name = "password"
                type = "password"
                matInput
                [(ngModel)] = "password"
                placeholder="Placeholder"
                required
                readonly
              />
              <mat-icon matSuffix>password</mat-icon>
              <mat-error>
                Please enter password
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-card-actions class="text-center">
          <button
            type = "submit"
            mat-raised-button
            color = "primary"
            class="m-1"
            [disabled] = signInloaderStatus
          >
            <div class="d-flex justify-content-center align-items-center">
              <ng-container>
                <span class="material-icons font-size-17px p-1">
                  lock
                </span>
                Login
              </ng-container>
              <ng-container *ngIf = "signInloaderStatus">
                <mat-spinner class="ml-2" [diameter]="20"></mat-spinner>
              </ng-container>
            </div>


          </button>
          <button
            type = "button"
            (click) = "signinWithGoogle()"
            mat-raised-button
            color = "default"
            class="m-1"
            [disabled] = signInWithGoogleloaderStatus
          >
          <div class="d-flex justify-content-center align-items-center">
            <ng-container>
              <i class="fa fa-google p-1 font-size-17px"></i>
              Login with Google
            </ng-container>
            <ng-container *ngIf = "signInWithGoogleloaderStatus">
              <mat-spinner class="ml-2" [diameter]="20"></mat-spinner>
            </ng-container>
          </div>
          </button>
        </mat-card-actions>
      </form>

    </mat-card-content>
  </mat-card>
  <mat-card *ngIf = "signInStatus">
    <mat-card-header class="justify-content-center">
      <mat-card-title>Welcome {{loggedInUserName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="text-center">
      <img *ngIf = "photoURL" mat-card-avatar [src]="photoURL" alt="">
      <div *ngIf = "!photoURL">
        <span class="material-icons">
          person
        </span>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
      <button type="button" (click) = "signOut()" mat-raised-button color = "accent">
        <span class="material-icons">
          power_settings_new
        </span>
        Signout
      </button>
    </mat-card-actions>
  </mat-card>
</div>
